<mat-nav-list>
    <div class="head">
        <div class="image">

        <h3>Harish</h3>
        <h4>Computer engineer</h4>
    </div>

            <img src="https://previews.123rf.com/images/vectorkif/vectorkif1709/vectorkif170900013/85709526-business-man-cartoon-character-in-smart-clothes-office-style-young-handsome-businessman-in-suit-stan.jpg" alt="photo">
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink='/'>dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/route">Table</a>
    <a mat-list-item routerLinkActive="list-Item-active" routerLink="/">Articles</a>
<mat-divider></mat-divider>
<h2 matSubheader>Others</h2>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts"> <mat-icon>import_contacts</mat-icon>Import</a>
<a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts"> <mat-icon>contact_phone</mat-icon>Contact</a>

</mat-nav-list>